* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 5rem;
    margin-top: 50px;
    font-weight: 600;
}